*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Arial'
}


body{
    padding: 100px;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header{
    font-size: 20px;
    color: var(--colorWhite);
}

#card{
    padding: 50px;
    background-color: white;
    height: 300px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

h2{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

p{
    text-align: center;
}

footer{
    color: var(--colorWhite);
    text-align: center;
    font-weight: bolder;
}